.navmenu {
  text-decoration: none;
  color: red;
  padding: 50px;
  text-align: center;
}
.navmenu li {
  display: inline-block;
}
.navmenu li a {
  text-decoration: none;
  margin: 72px;
  color: #ff0000;
  font-family: "Montserrat" , sans-serif ;
  font-style: normal; 
  font-weight: 700;
}
.header-photo {
  width: 100vw;
}
.description {
  padding: 49px;
  text-align: center;
}
.desc-title {
  font-family: "Montserrat , sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #373737;
}
.desc-text {
  padding: 38px;
  font-family: "Montserrat , sans-serif" ;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-align: center;
  color: #373737;
  line-height: 26px;
}
.main-text {
  padding: 28px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn-btn {
  background: #ff0000;
  font-family: "Montserrat , sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  width: 191px;
  height: 51px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px;
}
.footer-text {
  padding: 42px;
  text-align: right;
  font-family: "Montserrat , sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
